@import url('https://fonts.google.com/specimen/Outfit');


.container
{
   background-color: hsl(212, 45%, 89%);
   height:100%;
   margin:10px;
   padding-top:50px;
}

.internalContainer
{
    margin:auto;
    background-color: white;
    width:210px;
    height:64%;
    padding:10px;
    border-radius: 15px;
}
.image
{
    border-radius:15px;
    width:100%;
    height:60%;
}
.textDiv
{
    font-family:'Outfit',sans-serif;
    font-size: 15px;
    text-align: center;
    padding:0 8px 10px 8px;
}
.innerTextDiv
{
    font-size: 13px;
    color:hsl(220, 15%, 55%);
}
